
/* SUGGESTION */
html[data-ow-url="https://www.instagram.com/"].ow_IG_SUGGESTIONS span.Rebts,
html[data-ow-url="https://www.instagram.com/"].ow_IG_SUGGESTIONS a[href="/explore/people/"]{
    display: none
}

html[data-ow-url="https://www.instagram.com/"].ow_IG_SUGGESTIONS .D_6tu.l9Ww0.bq3Mi {
    padding: 0px;
    background: transparent;
    border: none;
    margin: 0px;
    height: 0px;
    overflow: hidden;
}

/* compact mode */
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE article div.eo2As  {
    display: none !important;
    height: 0px !important;
    overflow: hidden;
}

html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE article {
    overflow: hidden;
    margin-bottom: 10px !important;
}

html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE main article h2 a,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE a.O4GlU,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE a.O4GlU:visited,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE header .y1ezF,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE header .y1ezF .DXJP0,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE header .y1ezF .DXJP0:visited{
    color: white !important;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    opacity: 0.9 !important;
}

html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE article header {
    position: absolute;
    top: 0px;
    z-index: 10;
}

html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE article header canvas,
html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE article header canvas + span{
    opacity: 0.75 !important;
}

html[data-ow-url="https://www.instagram.com/"].ow_COMPACT_MODE .glyphsSpriteMore_horizontal__outline__24__grey_9 {
    filter: brightness(0) invert(1) drop-shadow(0px 1px 2px rgba(0,0,0,0.4));
    opacity: 0.9 !important;
}

/* stories */
html[data-ow-url="https://www.instagram.com/"].ow_HIDE_IG_STORY .ku8Bn {
    display: none !important;
}
html[data-ow-url="https://www.instagram.com/"].ow_HIDE_IG_STORY .zGtbP {
    padding: 0px;
}

/* anonymous story */
html[data-ow-url="https://www.instagram.com/"].ow_ANONYMOUS_STORY .zGtbP {
    background: transparent !important;
    padding-bottom: 0px;
}

html[data-ow-url="https://www.instagram.com/"].ow_ANONYMOUS_STORY .zGtbP .light {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: white;
}

ul.owAnonymousFooter {
    padding-left:15px;
    padding-top: 8px;
    padding-right: 2px;
    padding-bottom: 2px;
    list-style: none;
}

ul.owAnonymousFooter li{
	margin: 0 5px 10px 0;
	display: inline-block;
	height: 28px;
	line-height: 29px;
	padding: 1px 12px 0px 12px;
	border: 1px solid {baseColor};
	background: ;
	border-radius: 15px;
	color: {baseColor};
	font-size: 13px;
	text-decoration: none;
	letter-spacing: .3px;
    -webkit-transition: .1s;
    transition: .1s;
    user-select: none;
    -webkit-user-select: none;
}

ul.owAnonymousFooter li span {
	max-width: 155px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.owAnonymousFooter svg{
    fill: {baseColor};
    position: relative;
    right: 3px;
    bottom: 7px;
    opacity: 0.88;
    margin-right: 1px;
    width: 17px;
    height: 17px;
}

.owAnonymousFooter li.anonymous svg{
    bottom: 5px !important;
    width: 18px;
    height: 18px;
}

ul.owAnonymousFooter li:active,
ul.owAnonymousFooter li:focus,
ul.owAnonymousFooter li.active {
	background: rgba(120,120,120, 1.0) !important;
    border-color: rgba(120,120,120, 1.0) !important;
    color: white !important;
}

ul.owAnonymousFooter li:active svg,
ul.owAnonymousFooter li:focus svg,
ul.owAnonymousFooter li.active svg {
    fill: white !important;
    opacity: 1 !important;
}
